body{
    background-image: url(./pic/black.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    margin-left: 30px;
    color: white;
}

nav{
    float: right;
    display: flex;
    margin-top: 20px;
}
  a{
    padding: 0px 15px 0px 15px;
    color: white;
    text-decoration: none;
}
a:hover{
box-shadow: 3px 3px 3px 3px white;
}
#last{
    margin-right: 50px;
}
#text{
    text-align: center;
    color: white;
    margin-top: 100px;
}
h1{
    font-size: 50px;
    color: 
    rgb(
    3, 252, 231);
}
p{
    font-size: 15px;
    color:white;
}
#btn{
    margin-top: 70px;
    text-align: center;
    
}

#btn1{
    margin-right: 30px;
    padding: 10px 30px 10px 30px;
    background-color: aquamarine;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 3px 3px 3px 3px white; 
}
#btn2{
    margin-right: 30px;
    padding: 10px 30px 10px 30px;
    background-color: crimson;
    box-shadow: 3px 3px 3px 3px white;
    border-radius: 15px 0px 15px 0px;
   
}
#btn1:hover{
    background:orange;
	color:white;
	border-top-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow:none;
}
#btn2:hover{
    
    background:orange;
	color:white;
	border-top-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow:none;
}